<ion-header>
  <ion-navbar>
    <ion-title class="titulo">Bluetooth Setup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list padding>
    <button ion-button block (click)="startScanning()">scan</button>
    <ion-list-header>
      Paired Devices
    </ion-list-header>
    <ion-item *ngFor="let device of pairedDevices">
      {{device.name}}
    </ion-item>
    <button ion-button block (click)="disconnect()">Disconnect</button>
    <ion-list-header>
      availlable Devices
    </ion-list-header>
    <ion-item *ngFor='let device of unpairedDevices'>
      <span (click)="selectDevice(device.address)">
        {{device.name}}
      </span>
    </ion-item>
    <!--se agrega el boton que envia algo!-->
    <button ion-button block (click)="send()">Recibir</button>
    <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
  </ion-list>
</ion-content>