<ion-header>
  <ion-toolbar>
    <ion-title>Nome</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <battery-status></battery-status>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="openNavDetailsPage(item)" icon-start>
      <ion-icon [name]="item.icon" [ngStyle]="{'color': item.color}" item-start></ion-icon>
      {{ item.title }}
    </button>
  </ion-list>
</ion-content>