// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.titulo{
    color: red;
}
.centro_boton{
    margin-left: auto;
    margin-right: auto;
    
}
.titulo_atleta{
    color: #2B7CBC;
    font-weight: bold;
}
.centro_titulo
{
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    text-align: center;
}
.fondo{
    background:#75CFEE;
}
.fondo_masazul
{
    background: #2176BA;
}