<!--
  Generated template for the SimulacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>simulacion</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <a href="#"><img src="assets/logo.jpg" class="logo_SHL" alt=""> </a>
  <form [formGroup]="slideOneForm">
    <ion-input type="text" value="" class="fondo" *ngIf="hide" formControlName="athlete" [(ngModel)]="athlete" ></ion-input>
    <button ion-button full (click)='simular()' *ngIf="hide">Iniciar</button>
    <ion-label class="titulo_atleta centro_titulo" *ngIf="hide2" >ATHLETE: {{athlete_name}}</ion-label>
    <ion-list>
    <ion-item *ngFor='let time of items'>
      <!--<ion-input type="text" value={{time.title}}{{time.secs}} class="fondo"></ion-input>        !-->
      <ion-input *ngIf='time.numero<4' type="text" value={{time.cadena}} class="fondo"></ion-input>
      <br>

      <ion-input *ngIf='time.numero==4' type="text" value={{time.cadena}} class="fondo_masazul"></ion-input>
    </ion-item>
  </ion-list>
  </form>
</ion-content>