<ion-header>
  <ion-navbar>
    <ion-title class="titulo">Tower Setup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  

  <div *ngIf='tower.isConnected'>
    <ion-list padding>      
        <ion-list-header>
          Connected Tower
        </ion-list-header>
        <ion-item>
          {{tower.peripheralData.name || 'no connected'}}
        </ion-item>
    </ion-list>

    <button ion-button block (click)="disconnect()">Disconnect</button>
  </div>
  <div *ngIf='!tower.isConnected'>

    <button ion-button block (click)="startScanning()">Scan</button>

    <ion-list>
      <ion-list-header>
        available Devices
      </ion-list-header>
      
      <ion-item *ngFor='let device of unpairedDevices'>
        <span (click)="connectTo(device)">
          {{device.name || device.id}}
        </span>
      </ion-item>  
    </ion-list>
  </div>

</ion-content>