<!--
  Generated template for the FivetenfivePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>5-10-5</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <img src="assets/logo.jpg" class="logo_SHL" alt="">
  
  <ion-input type="text" value="" class="fondo" *ngIf="!trainingActive" [(ngModel)]="athlete_name" placeholder="Athlete's name"></ion-input>
  <button ion-button block (click)="startTraining()" *ngIf="!trainingActive">Start</button>

  <ion-label class="titulo_atleta centro_titulo" *ngIf="trainingActive">ATHLETE: {{athlete_name || 'N/A'}}</ion-label>
  <ion-list *ngIf="trainingActive">
    <ion-item *ngFor='let time of items'>
      <ion-input *ngIf='time.split<6' type="text" value={{time.label}} class="fondo"></ion-input>
      <ion-input *ngIf='time.split==6' type="text" value={{time.label}} class="fondo_masazul"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>
